.upload-top{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
}
.upload-back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.2;
    z-index: 9;
}
.uploadImg{
    position: relative;
    top: 20%;
    left: 30%;
    width: 50%;
    z-index: 999;
    background: #fff;
}
.isnow{
    margin-left: 40%;
    margin-right: 10px;
}
.img-nav,.img-footnav,.file-input.file-input-ajax-new{
    padding: 10px;
}
.uploadimg-true{
    position: absolute;
    padding-left: 85px;
}
.upload-xz{
    width: 50px;
    position: relative;
}
.kv-file-content img{
    width: 120px!important;
    height: 100px!important;
}
.kv-file-content{height: auto!important;}
.yii-img{
    cursor: pointer;
}